@{
    Layout = null;

    // UI Layout
}

<!DOCTYPE html>
<html>
    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutNavBarComponentPartial")
    @RenderBody() 
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
</body>
</html>